$berry: #C9184A;
$light-bg: #FFF0F3;
$accent: #FFB3C1;
$text: #2B2B2B;

.card {
  background: white;
  border-radius: 24px;
  padding: 16px;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;

  &:hover {
    transform: translateY(-8px);
    border-color: $accent;
    box-shadow: 0 15px 30px rgba($berry, 0.08);
  }

  .badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: $berry;
    color: white;
    padding: 4px 12px;
    border-radius: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    z-index: 2;
  }
}

.image-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: $light-bg;
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 16px;
  justify-content: center;

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
  }
}

.card:hover img {
  transform: scale(1.1);
}

.title {
  font-size: 1.2rem;
  color: $text;
  margin: 0 0 8px 0;
  font-weight: 700;
}

.description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .price {
    font-size: 1.3rem;
    font-weight: 800;
    color: $berry;
  }

  .buy-btn {
    background: $berry;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;

    &:hover {
      background: #590D22; // Твой доп. цвет
    }
  }
}