$berry: #C9184A;
$dark-berry: #590D22;
$light-bg: #FFF0F3;

.admin-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background: $dark-berry;
  color: white;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    padding: 30px 20px;
    font-size: 1.5rem;
    font-weight: 800;
    border-bottom: 1px solid rgba(white, 0.1);
    .logo span { color: $berry; }
  }
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar-nav {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .nav-item {
    padding: 15px 25px;
    color: rgba(white, 0.7);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;

    &:hover, &.active {
      background: rgba(white, 0.05);
      color: white;
      border-left: 4px solid $berry;
    }

    &.back-site {
      margin-top: auto;
      border-top: 1px solid rgba(white, 0.1);
    }
  }
}

.logout {
    padding: 15px 25px;
    color: #FFF0F3;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
    text-decoration: none;

    &:hover, &.active {
      background: rgba(white, 0.05);
      color: white;
      border-left: 4px solid $berry;
    }
}

.admin-content {
  flex: 1;
  background: #f8f9fa;
  display: flex;
  flex-direction: column;

  .content-header {
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    
    h1 { font-size: 1.2rem; margin: 0; color: #2B2B2B; }
  }

  .page-wrapper {
    padding: 40px;
  }
}